<!doctype html>

<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sharedstyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/callback.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/welcome.css') }}">
</head>

<body>
    <h1 class="h1 maintitle">WEB APP</h1>
    <div class="div callback">
        <div class="div user">
            As <b>{{username}}</b>:
            <form class="form logout" action="/logout" method="GET">
                <button class="button logout" type="submit">Log out</button>
            </form>
        </div>

        <fieldset class="fieldset">
            <legend>Change your password:</legend>
            <form action="{{WEB}}/update-password" method="POST" enctype="multipart/form-data">
                <input class="passChange" type="password" name="password" placeholder="Current password" required></input>
                <input class="passChange" type="password" name="newPassword" placeholder="New password" required></input>
                <input class="passChange" type="password" name="reNewPassword" placeholder="Retype new password" required></input>
                <button type="submit">Change password</button>
            </form>
        </fieldset>

        <div class="div return">
            <form class="form return" action="/welcome" method="GET">
                <button class="button return" type="submit">Return to homepage</button>
            </form>
        </div>
    </div>
</body>