<!doctype html>

<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sharedstyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/welcome.css') }}">
</head>

<body>
    <h1 class="h1 maintitle">Publications Manager</h1>
    {% if callback_message %}
    <div class="message">
        {{callback_message}}
    </div>
    {% endif %}
    <div class="div login">
        <form class="form login" action="/auth" method="POST">
            <input class="input login" type="text" name="username" placeholder="Username"></input>
            <input class="input login" type="password" name="password" placeholder="Password"></input>
            <button class="button login" type="submit">Log in</button>
        </form>
        <form action="/sign-up-page" method="GET" class="sign up">
            <button class="sign up" type="submit">Sign up</button>
        </form>
    </div>
</body>