<!doctype html>

<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sharedstyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/welcome.css') }}">
</head>

<body>
    <h1 class="h1 maintitle">WEB APP</h1>
    <div class="div login">
        <form class="form login" action="/auth" method="POST">
            <input class="input login" type="text" name="username" placeholder="Username"></input>
            <input class="input login" type="password" name="password" placeholder="Password"></input>
            <button class="button login" type="submit">Log in</button>
        </form>
        <form action="https://dev-0n-bx69c.eu.auth0.com/authorize?" method="GET" class="auth0">
            <input type="hidden" name="redirect_uri" value="https://web.company.com/welcome?"></input>
            <input type="hidden" name="response_type" value="code"></input>
            <input type="hidden" name="client_id" value="SXlXXOn4ITx5BrW6xcB9ltVDKvSv0lMk"></input>
            <button class="auth0" type="submit">Log with Auth0</button>
        </form>
    </div>
</body>