<!doctype html>

<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sharedstyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/callback.css') }}">
</head>

<body>
    <h1 class="h1 maintitle">Publications Manager</h1>
    <div class="{{divClass}}">
        <div class="div message">
            {{msg}}
        </div>

        <div class="div return">
            <form class="form return" action="/login" method="GET">
                <button class="button return" type="submit">Return to log in page</button>
            </form>
        </div>
    </div>
</body>