<!doctype html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sharedstyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/welcome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pubview.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/callback.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sharepub.css') }}">
</head>

<body>
    <h1 class="h1 maintitle">WEB APP</h1>
    <div class="div welcome">
        <div class="div user">
            You are logged in as <b>{{username}}</b>!
            <form class="form logout" action="/logout" method="GET">
                <button class="button logout" type="submit">Log out</button>
            </form>
        </div>

        <fieldset>
            <legend>Share options for "{{pub['title']}}":</legend>
            <form action="{{WEB}}/share-with-user/publication/{{pub['id']}}" method="POST"
                enctype="multipart/form-data">
                <input class="username" name="username" type="text" placeholder="Username" required></input>
                <button class="user" type="submit">Share with user</button>
            </form>
            {% if not is_shared_with_everyone %}
            <form action="{{WEB}}/share-with-everyone/publication/{{pub['id']}}" method="POST"
                enctype="multipart/form-data">
                <div class="everyone">
                    <button type="submit">Share with everyone</button>
                </div>
            </form>
            {% endif %}
        </fieldset>

        {% if is_shared_with_everyone %}
        <fieldset>
            <legend>This publication is public:</legend>
            <form action="{{WEB}}/unshare-with-everyone/publication/{{pub['id']}}" method="POST"
                enctype="multipart/form-data">
                <button type="submit">Unshare with everyone</button>
            </form>
        </fieldset>
        {% endif %}

        {% if list_of_users %}
        <fieldset>
            <legend>You are sharing this publication with:</legend>
            {% for target_username in list_of_users %}
            <label class="unshare user">
                {{target_username}}
            </label>
            <form action="{{WEB}}/unshare-with-user/publication/{{pub['id']}}" method="POST"
                enctype="multipart/form-data" class="unshare user">
                <input class="username" name="username" type="hidden" value={{target_username}} required></input>
                <button type="submit">Unshare with {{target_username}}</button>
            </form>
            {% endfor %}
        </fieldset>
        {% endif %}

        <div class="div return">
            <form class="form return" action="/welcome" method="GET">
                <button class="button return" type="submit">Return to homepage</button>
            </form>
        </div>
    </div>
</body>