<!doctype html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sharedstyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/welcome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pubview.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/callback.css') }}">
</head>

<body>
    <h1 class="h1 maintitle">Publications Manager</h1>
    <div class="div welcome">
        <div class="div user">
            You are logged in as <b>{{username}}</b>!
            <form class="form logout" action="/logout" method="GET">
                <button class="button logout" type="submit">Log out</button>
            </form>
        </div>

        <fieldset class="fieldset">
            <legend>Publication:</legend>
            <label class="pub view label">Title:</label>
            <div class="pub field"> {{publication["title"]}}</div>
            <label class="pub view label">Authors:</label>
            <div class="pub field"> {{publication["authors"]}}</div>
            <label class="pub view label">Publisher:</label>
            <div class="pub field"> {{publication["publisher"]}}</div>
            <label class="pub view label">Year:</label>
            <div class="pub field"> {{publication["year"]}}</div>
            <label class="pub view label">ID:</label>
            <div class="pub field"> {{publication["id"]}}</div>
            <label class="pub view label">Files:</label>
            <div class="pub field">
                {% for id, display_name, dowload_token in file_package %}
                <a class="a downloadfile" href="{{PDF}}/download/{{id}}?token={{dowload_token}}">{{ display_name }}</a> {% endfor %}
            </div>
        </fieldset>

        <div class="div return">
            <form class="form return" action="/welcome" method="GET">
                <button class="button return" type="submit">Return to homepage</button>
            </form>
        </div>
    </div>
</body>