<!doctype html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sharedstyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/welcome.css') }}">
</head>

<body>
    <h1 class="h1 maintitle">WEB APP</h1>
    <pre id="out"></pre>
    <div class="div welcome">
        <div class="div user">
            Welcome <b>{{username}}</b>!

            <form class="form logout" action="/logout" method="GET">
                <button class="button logout" type="submit">Log out</button>
            </form>
            <form class="form account" action="/account" method="GET">
                <button class="button account" type="submit">Account</button>
            </form>
        </div>

        <fieldset class="fieldset">
            <legend>Upload a new file:</legend>
            <form action="{{PDF}}/upload" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="token" value="{{upload_token}}" />
                <input type="hidden" name="callback" value="{{WEB}}/callback" />
                <input class="input file" type="file" name="file" id="file" required/>
                <button class="button sendfile" type="submit">Upload file</button>
            </form>
        </fieldset>

        <fieldset class="fieldset">
            <legend>List of your files:</legend>
            {% for fname, fid, ftoken, deltoken in package %}
            <a class="a downloadfile" href="{{PDF}}/download/{{fid}}?token={{ftoken}}" title="click to download file">{{ fname }}</a>


            <form class="option" action="{{PDF}}/delete/{{fid}}" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="token" value="{{deltoken}}" />
                <input type="hidden" name="callback" value="{{WEB}}/callback-deletion" />
                <button type="submit" title="delete file" class="option">
                    <img  class="trash" src="{{ url_for('static', filename='trash_small.svg') }}" />
                </button>
            </form>
            {% endfor %}
        </fieldset>

        <fieldset class="fieldset">
            <legend>Create a new publication:</legend>
            <form class="option" action="/creator/publication" method="GET" enctype="multipart/form-data">
                <button type="submit">
                    Open creator
                </button>
            </form>
        </fieldset>

        <fieldset class="fieldset">
            <legend>List of your publications:</legend>
            {% for pub_title, pub_id in publications %}
            <a class="a viewpub" href="{{WEB}}/publication/{{pub_id}}" title="click to view publication">{{pub_title}}</a>

            <form class="option" title="edit publication" action="{{WEB}}/edit/publication/{{pub_id}}" method="GET" enctype="multipart/form-data">
                <button type="submit" class="option">
                    <img  class="trash" src="{{ url_for('static', filename='edit.svg') }}" />
                </button>
            </form>
            <form class="option" title="attach file" action="{{WEB}}/attach-file-chooser/publication/{{pub_id}}" method="GET" enctype="multipart/form-data">
                <button type="submit" class="option">
                    <img  class="trash" src="{{ url_for('static', filename='attach.svg') }}" />
                </button>
            </form>
            <form class="option" title="dettach file" action="{{WEB}}/dettach-file-chooser/publication/{{pub_id}}" method="GET" enctype="multipart/form-data">
                <button type="submit" class="option">
                    <img  class="trash" src="{{ url_for('static', filename='dettach.svg') }}" />
                </button>
            </form>
            <form class="option" title="delete publication" action="{{WEB}}/delete/publication/{{pub_id}}" method="POST" enctype="multipart/form-data">
                <button type="submit" class="option">
                    <img  class="trash" src="{{ url_for('static', filename='trash_small.svg') }}" />
                </button>
            </form>
            {% endfor %}
        </fieldset>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>
    function sse() {
        var source = new EventSource('/stream');
        console.log(source)
        var out = document.getElementById('out');
        console.log("Script is running")
        source.onmessage = function(e) {
            console.log(e.data)
            console.log("Script asdasdasdasdasing")
            out.innerHTML = e.data + "\n" + out.innerHTML;
        };
        console.log(source)
    }
    sse();
</script>