<!doctype html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sharedstyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/welcome.css') }}">
</head>

<body>
    <h1 class="h1 maintitle">WEB APP</h1>
    <div class="div welcome">
        <div class="div user">
            Welcome <b>{{username}}</b>!
            <a class="a logout" href="{{WEB}}/logout">Logout</a>
        </div>

        <fieldset class="fieldset welcome">
            <legend>Upload a new file:</legend>
            <form action="{{PDF}}/upload" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="token" value="{{upload_token}}" />
                <input type="hidden" name="callback" value="{{WEB}}/callback" />
                <input class="input file" type="file" name="file" id="file" required/>
                <button class="button sendfile" type="submit">Upload file</button>
            </form>
        </fieldset>

        <fieldset class="fieldset welcome">
            <legend>List of your files:</legend>
            {% for fname, fid, ftoken in package %}
            <a class="a downloadfile" href="{{PDF}}/download/{{fid}}?token={{ftoken}}">{{ fname }}</a> {% endfor %}
        </fieldset>
    </div>
</body>