form.login {
    max-width: 400px;
    background: #dadada;
}

div.login {
    max-width: 400px;
    margin: 10px auto;
    padding: 17px 20px;
    background: #dadada;
    border-radius: 8px;
}

input.login {
    margin: 5px 0px;
    border: 1px;
    padding: 10px;
    width: 100%;
}

input.login:focus {
    outline: none;
    border-color: #4bc970;
    box-shadow: 0 0 10px #4bc970;
}

button.login {
    margin: 5px 0px;
    border: 1px;
    padding: 10px;
    width: 100%;
    color: #FFF;
    background-color: #4bc970;
    text-align: center;
    font-style: normal;
}

button.login {
    margin: 5px 0px;
    border: 1px;
    padding: 10px;
    width: 100%;
    color: #FFF;
    background-color: #4bc970;
    text-align: center;
    font-style: normal;
}

form.auth0 {
    text-align: right;
    width: 100%;
}

button.auth0 {
    border: 1px;
    width: auto;
    color: #FFF;
    background-color: #5F9EA0;
    text-align: right;
    font-style: normal;
}

button.sign.up{
    margin: 0px 5px 5px 0px;
    text-align: center;
    border: 1px;
    width: 100%;
    color: #FFF;
    background-color: #c4c4c4;
    text-align: center;
    font-style: normal;
}