* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

h1.maintitle {
    text-align: center;
}

form.account,
form.logout {
    display: inline;
}

button.account,
button.logout {
    float: right;
    color: #FFF;
    text-align: center;
    font-style: normal;
}

button.logout {
    background-color: #ee5034;
}

button.account {
    background-color: #4d4dff;
    margin-right: 10px;
}

body {
    color: #384047;
}