* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

h1.maintitle {
    text-align: center;
}

form.logout {
    display: inline;
}

button.logout {
    float: right;
    color: #FFF;
    background-color: #ee5034;
    text-align: center;
    font-style: normal;
}

body {
    color: #384047;
}