div.welcome {
    max-width: 600px;
    margin: 10px auto;
    padding: 17px 20px;
    background: #dadada;
    border-radius: 8px;
}

div.notification {
    max-width: 600px;
    margin: 10px auto;
    padding: 17px 20px;
    background: #ffcf4d;
    border-radius: 8px;
}

fieldset {
    margin: 10px auto;
}

input.file {
    width: 78%;
}

button.sendfile {
    width: 20%;
    text-align: center;
    font-style: normal;
}

a.viewpub {
    display: inline-block;
    width: 64%;
    margin-bottom: 5px;
}

a.downloadfile {
    display: inline-block;
    width: 89%;
    margin-bottom: 5px;
}

form.option {
    display: inline-block;
}

img.trash {
    height: 15px;
}